*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Courier New, monospace;
  font-size: 16px;
  background-image: url("фон.jpg");
  background-color: #ddba89eb;
  color: #453751;
  display: flex;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}
.form {
  background-color: #ffff;
  box-shadow: 10px 10px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius:  40% 20% / 10% 40%;
  display: inline-block;
  width: 1028px;
  padding: 44px;
}
.form__header {
  margin-bottom: 24px;
}
.form__header h1 {
  font-size: 24px;
  line-height: 28px;
  color: #453751;
  margin: 0;
  text-align: center;
}
.form__header hr {
  background: #d7dbdf;
  opacity: 0.5;
}
.form__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form__group--label {
  line-height: 19px;
  font-size: 16px;
  margin-bottom: 8px;
  display: inline-block;
}
.form__group {
  margin-bottom: 24px;
}
.form__control--grow {
    height: 140px !important;
    display: inline-block;
  }

.form__control, select{
  font-family: Courier New, monospace;
  background: #ffffff;
  border: 1px solid #d2d6db;
  border-radius: 6px;
  padding: 8px;
  height: 50px;
  min-width: 295px;
}
.form__checkbox {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 24px;
}

.form__submit {
  font-family: Courier New, monospace;
  padding: 16px 24px;
  font-weight: 500;
  color: #ffff;
  border: 1px solid #d2d6db;
  background-color: #ddba89eb;
  border-radius: 6px;
  display: flex;
  cursor: pointer;
  margin-left: auto;
}
